{% extends 'base.html' %}

{% block title %}CS6001 Index{% endblock %}

{% block content %}
    <h1>Machine Learning in Computer Vision</h1>
    <h4>Survey & Software & Dataset</h4>
    <div>
        <p><a href="https://www.cs.toronto.edu/~hinton/absps/NatureDeepReview.pdf">Deep learning(2015)</a></p>
        <p><a href="https://arxiv.org/pdf/1404.7828.pdf">Deep learning in neural networks: An overview(2015)</a></p>
        <p><a href="https://arxiv.org/pdf/1206.5538.pdf">Representation learning: A review and new perspectives(2013)</a></p>
        <p><a href="https://arxiv.org/pdf/1412.4564.pdf">MatConvNet: Convolutional neural networks for matlab(2015)</a></p>
        <p><a href="https://arxiv.org/pdf/1408.5093.pdf">Caffe: Convolutional architecture for fast feature embedding(2014)</a></p>
        <p><a href="https://arxiv.org/pdf/1603.04467.pdf">TensorFlow: Large-scale machine learning on heterogeneous distributed systems(2016)</a></p>
        <p><a href="https://arxiv.org/pdf/1605.02688.pdf">Theano: A Python framework for fast computation of mathematical expressions(2016)</a></p>
        <p><a href="https://ronan.collobert.com/pub/matos/2011_torch7_nipsw.pdf">Torch7: A matlab-like environment for machine learning(2011)</a></p>
        <p><a href="https://keras.io/#keras-deep-learning-library-for-theano-and-tensorflow">Keras: Deep Learning library for Theano and TensorFlow</a></p>
        <p><a href="https://arxiv.org/pdf/1409.0575.pdf">Imagenet large scale visual recognition challenge(2015)</a></p>
        <p><a href="https://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Karpathy_Large-scale_Video_Classification_2014_CVPR_paper.pdf">Large-Scale Video Classification with Convolutional Neural Networks(2014)</a></p>
        <p><a href="https://arxiv.org/pdf/1405.0312.pdf">Microsoft COCO: Common Objects in Context(2015)</a></p>
        <p><a href="http://places.csail.mit.edu/places_NIPS14.pdf">Learning deep features for scene recognition using places database(2014)</a></p>
    </div>
{% endblock %}